@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400&display=swap');
/* font-family: 'Alfa Slab One', cursive; */
/* font-family: 'Rajdhani', sans-serif; */



body{
  margin:0 0;
  padding:0 0;
}

header{
  margin: 0 0;
  position: relative;
  z-index: 10;
}



.navbar{ /* nav bar styles*/
  display: flex; 
  padding-bottom: .001rem;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: .2em solid #EC9B3B; */
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  background: #FAF5E4;
  text-align: center;
  
}

.navbar-logo{ /* styles for big title and subtitle in nav bar*/
  margin: .6em 1em;
  text-align: center;
}

.navbar-title{ /* nav bar title */
  font-family: 'Alfa Slab One', cursive;
  font-size: 3rem;
  color: #125B50;
  margin: 0 0;
  padding: 0;
}

.navbar-subtitle{ /* nav bar subtitle */
  font-family: 'Rajdhani', sans-serif;
  margin: 0 0;
  font-size: 1.3rem;
  color: #F8B400;
  font-weight: 600;
  padding: 0;
}

.links{ /* navigation links, they are not displayed under 768px*/
  display: none;
}

.loged-in{
  display: flex;
  align-items: center;
  margin: 0 0;
}

.navbar-btn{  /* navigation buttons*/
  /* position: relative; */
  padding: 1em 1em;
  width: 90%;
  text-align: right;
  color: #FF6363;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;  
  margin-bottom:.5em;
  border-bottom: .08em solid #F8B400;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: none;
  background: #FAF5E4;
  font-family: 'Rajdhani', sans-serif;
  margin: 0 0 ;
  cursor: pointer;
}


.drop-down-menu{  /*drop down menu style, displayes only under 768px when burger button is displayed*/
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgba(250, 245, 228, 1);
  margin-top: 0;
  border-radius: .5em;
  float:right;
  font-family: 'Rajdhani', sans-serif;
  /* position: relative;
  z-index: 5; */
}

.burger{  /* burger buttons style*, displayes only under 768px/*/
  margin: 0 1em;
}

.fade{ /*div that wraps fade tag*/
  position: relative;
  height: 100%;
  z-index: 10;
}

.content{ /*App.js main div that will contain every page that is displayed*/
  
} 

.drop-down-category{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background: rgba(250, 245, 228, 1);
  margin-top: 0;
  border-radius: .5em;
  z-index: 5;
  /* float:right; */
  font-family: 'Rajdhani', sans-serif;
}

.category{ /*category buttons*/
  position: relative;
  padding: 1em 1em;
  width: 50%;
  text-align:center;
  color: #FF6363;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;  
  border-bottom: .08em solid #F8B400;
  
}

.category:hover{ /*category buttons on hover*/
  color:#125B50;
}

.log-in-container{ /*div thath wrpas whole log in form*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: 'Rajdhani', sans-serif;
  color: #125B50;
  margin-top: 1em;
  height: 100vh;
  background:rgba(250, 245, 228, .6);

  
}

.sign-up-container{ /*div thath wrpas whole sign up form*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: 'Rajdhani', sans-serif;
  color: #125B50;
  margin-top: 1em;
  height: 100vh;
  background:rgba(250, 245, 228, .6);
}

.log-in-form{ /*div that wraps inputs and labels fields*/
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sign-up-form{ /*div that wraps inputs and labels fields*/
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

label{
  font-size: 1.5rem;
}

.log-in-image{ /*log in image will not be displayed under 768px*/
  display:none;
}

.form-container{ /*div that wraps form*/
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  align-self: flex-start;
}

.form-container h3{ /*form title*/
  font-size: 2rem;
  margin: .5em 0;
  font-family: 'Alfa Slab One', cursive;
}

.input-container{ /*div that wraps label and input field*/
  width:100%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content:space-between;
}

.input{  /*styles for input field*/
  height: 2em;
  width: 50%;
  border: .2em solid #125B50;
  border-radius: .4em;
  width:80%;
  outline: none;
  font-size: 1rem;
}

.submit-btn{
  width: 30%;
  height: 7vh;
  outline: none;
  font-family: 'Alfa Slab One', cursive;
  color:#125B50;
  font-size: 1.5rem;
  background: rgba(248, 180, 0, .8);
  cursor: pointer;
  margin-top: 1em;
  text-align: center;
  /* border: .2em solid #125B50; */
  border: none;
  border-radius: .4em;
  transition: all .5s ease-out;
}

.submit-btn:hover{
  transform: translateY(-10px);
}

.profile-container{ /*profile page container*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1em;

}

.user-info{
  background:rgba(250, 245, 228, .6);
  border-radius: .5em;
  width:70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #F8B400;
  padding: 2em 0;
  height: 30vh;
  font-family: 'Rajdhani', sans-serif;
}

.info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-container{
  margin: 2em 0;
  background: #FAF5E4;
  display: grid;
  gap: 2em 2em;
  grid-template-columns: 60%;
  justify-content: center;
  /* padding: 0 1em; */
  padding: .5em 0;
  height:100%;
}

.product-container{
  /* border: .2em solid rgba(18, 91, 80,.8); */
  background: rgba(248, 180, 0,.4);
  border-radius: .5em;
  min-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
  /* height: 100%; */
  transition: all 0.5s;
  padding-bottom: .5em;
}



.product-container:hover{
  transform: /*translateY(-5px)*/ scale(1.03);
  
}

.product-container a{
  text-decoration: none;
  
}

.product-container img {
  width: 100%;
  margin: 0 auto;
  align-self: center;
  border-radius: .4em;
  
}


.product-text h1{
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 0 ;
  color: #125B50;
  /* height: 6vh; */
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
.product-text h2{
  font-family: 'Rajdhani', sans-serif;
  font-size: 1rem;
  text-align: center;
  margin-top: 0;
  color: #FF6363;
  overflow: hidden;
}

.product-interaction{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  align-self: flex-end;
}

.product-interaction h3{
  font-family: 'Alfa Slab One', cursive;
  font-size: 1.5rem;
  text-align: center;
  margin: .1em 0 ;
  color: #125B50;
}

.product-interaction button{
  outline: none;
  border:none;
  background: #FF6363;
  color: white;
  width: 30%;
  height: 100%;
  border-radius: .4em;
  cursor: pointer;
  transition: active 1s;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1em;
  transition: border .2s ease-in;
}
.product-interaction button:hover{
  border: .2em solid #F8B400;
  
}

.loader{
  margin: 12em auto;
  width: 100%;
  display:flex;
  justify-content: space-around;
  
}

.product-page{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  margin: 1em 0;
  background: #FAF5E4;
  border-radius: .5em;
  padding: 1em .5em;
}

.image-and-basic-info{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  /* margin-bottom: 2em; */
}

.image-and-basic-info img{
  width:80%;
  border-radius: .5em;
}

.basic-info{
  text-align: center;
  color: #125B50;

}

.basic-info h2{
  font-size: 1.5rem;
  margin-bottom: 0;
  font-family: 'Alfa Slab One', cursive;
}
.basic-info p{
  font-size: 1.2rem;
  margin-top:0;
  font-family: 'Rajdhani', sans-serif;
}

.price-and-btn h1{
  font-family: 'Alfa Slab One', cursive;
}
.price-and-btn{
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.price-and-btn button{
  outline: none;
  border:none;
  background: #FF6363;
  color: white;
  width: 40%;
  height: 8vh;
  border-radius: .4em;
  cursor: pointer;
  transition: active 1s;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1em;
  transition: border .1s linear;
}

.price-and-btn button:hover{
  border: .2em solid #F8B400;
}

.additional-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;

}

.items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.in{

  align-items: center;
  width: 100%;
}

.add-info{
  width: 100%;
}

.in h2{
  font-family: 'Alfa Slab One', cursive;
  color:#125B50;
  text-align: center;
}

.item{
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  width: 80%;
  justify-content: space-between;
  color: #FF6363;
  
}

.item label{
  font-size:1.2rem;
  color:#125B50;
  font-weight: bold;
}

.item p{

  text-align: center;
}

.add-info h2{
  font-family: 'Alfa Slab One', cursive;
  color:#125B50;
  text-align: center;
}

.add-info .items{
  align-items: left ;
  
}

.add-info .items .item{
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: .7em;
}

.add-info .items .item p{
  text-align: left;
  margin: 0 0;
}



@media screen and (min-width: 600px){
  .products-container{
    grid-template-columns: 40% 40%;
    gap: 2em 3.5em;
    
  }

  
}

@media screen and (min-width: 768px) {  /*media query for screen with 768px min-width*/
  .burger{ /*buerger button deos not display at min-width of 768px*/
    display:none;
  }

  .drop-down-category{
    width:99%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgba(250, 245, 228, 1);
    margin: 0 auto;
    border-radius: .5em;
    border: .2em solid #125B50;
    font-family: 'Rajdhani', sans-serif;
    position: relative;
    z-index: 10;
  }

  .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 2em;
    font-family: 'Rajdhani', sans-serif;
    /* border: 1px solid black; */
    
  }
  .navbar-btn{
    position: relative;
    padding: 1em 1em;
    width: 40%;
    text-align: center;
    color: #FF6363;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    border-bottom: none;
  
  }

  .navbar-btn::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F8B400;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  .navbar-btn:hover::before {
    transform: scaleX(1);
  }
  
  .user-info{
    flex-direction: row;
    justify-content: space-evenly;
  }

  .user-info{
    width: 40%;
    align-self: flex-start;
    margin-left: 1em;
  }

  .products-container{
    grid-template-columns: 25% 25% 25%;
  }
  
  .image-and-basic-info{
    flex-direction: row;
  }

  .image-and-basic-info img{
    width: 50%;
  }
  
  .basic-info{
    width: 45%;
  }
  
}

@media screen and (min-width: 992px) {
  
  .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin: 0 2em;
    font-family: 'Rajdhani', sans-serif;
    /* border: 1px solid black; */
    
  }
  
  .navbar-btn{
    font-size: 1rem;
  
  }
  .log-in-container{
    background:rgba(250, 245, 228, .6);
    padding: .5em 0;
    
  }

  .sign-up-container{
    background:rgba(250, 245, 228, .6);
    padding: .5em 0;
  }

  .log-in-image{
    display:flex;
    width: 50%;
    border-radius: 1em;
    height: 80vh;
    align-self: flex-start;
    margin: 0 auto;
    padding: .5em 0;
    
  }

  .form-container{
    width: 40%;
    margin: 0 auto;
    align-self: flex-start;
  }
  .form-container h3{
    margin: .5em .5em;
  }
  .log-in-form{
    margin-top: 1.5em;
  }
  .user-info{
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .products-container{
    grid-template-columns: 20% 20% 20% 20%;
    gap: 2em 3em;
  }

  .image-and-basic-info{
    
    flex-direction: column;
    width: 50%;
    align-self: flex-start;
  }

  .image-and-basic-info img{
    width: 70%;
  }

  .additional-info{
    width:50%;
    
  }

  .product-page{
    flex-direction: row;
    align-items: center;
    
  }

}


